body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-family: 'Noto Nastaliq Urdu';
  text-align: right;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 2.5;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.page{
  min-height: 500px;
}
.navbar {
  background-color: #000;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 90%;
  max-width: 1200px;
}

.navbar-logo {
  color: #1a1616;
  text-decoration: none;
  font-size: 1.5rem;
}

.nav-menu {
  display: flex;
  list-style: none;
}

.nav-item {
  margin-right: 10px;
}

.nav-links {
  color: #fff;
  text-decoration: none;
}

.heading {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 2rem;
}


.textpart {
  margin-top: 35px;
}

.textpart1 {
 padding-bottom: 10px;
 padding-top: 10px;

  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

}
.homepart1{
  padding-bottom: 10px;
  padding-top: 10px;

  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.subheading {
  margin-top: 4px;
  line-height: 1.5;
}

.paragraph {
  margin-top: 14px;
  font-size: 1.4rem;
}

.picturepart {
  display: flex;
  height: 350px;
  min-width: 150px;
}

.picture {
  height: 100px;
  width: 100%;
}

.photo{
  height: 300px;
  width: 100%;
}
.pic{
  height: 100%;
  width: 100%;
 
}
.homepara{
  margin-top: 14px;
  font-size: 1.4rem;
}
.spiner {
  margin-top: 130px;
  margin-bottom: 130px;
  font-size: small;
  height: 3rem;
  width: 3rem;
}

.content {
  padding: 1.5rem 0;
}

.form {
  line-height: 3rem;
}

.submit {
  margin-bottom: 1rem;
}


@media (min-width: 1000px) and (max-width: 1200px) {
  iframe {
    height: 500px;
    width: 700px;

  }

  .spiner {
    margin-top: 130px;
    margin-bottom: 130px;
    font-size: small;
    height: 3rem;
    width: 3rem;
  }

  .heading {
    margin-top: 18px;
    margin-bottom: 18px;
    font-size: 1.5rem;
  }

  .subheading {
    margin-top: 4px;
  }

  .paragraph {
    margin-top: 12px;
    font-size: 1.3rem;
  }
}

@media (min-width: 770px) and (max-width: 1000px) {
  iframe {
    height: 400px;
    width: 500px;
  }



  .heading {
    margin-top: 18px;
    margin-bottom: 18px;
    font-size: 1.5rem;
  }

  .spiner {
    margin-top: 130px;
    margin-bottom: 130px;
    font-size: small;
    height: 3rem;
    width: 3rem;
  }

  .subheading {
    margin-top: 4px;
  }

  .paragraph {
    margin-top: 10px;
    font-size: 1.2rem;
  }

  /* .picturepart {
    min-height: 100%;
    min-width: 100%;
  } */
  .picture {
    margin-top: 10px;
    height: 360px;
  }
  .pic{
    margin-top: 10px;
    /* height: 220px; */
   
  }
  .photo {
    height: 360px;
    width: 100%;
  }

}

@media (min-width: 495px) and (max-width: 770px) {
  iframe {
    height: 350px;
    width: 470px;
  }

  .spiner {
    margin-top: 130px;
    margin-bottom: 130px;
    font-size: small;
    height: 2rem;
    width: 2rem;
  }

  .heading {
    margin-top: 17px;
    margin-bottom: 17px;
    font-size: 1.3rem;
  }

  .photo {
    height: 340px;
    width: 100%;
  }

  .subheading {
    margin-top: 2px;
  }

  .paragraph {
    /* display: none; */
    margin-top: 8px;
    font-size: 0.8rem;
  }


  .picture {
    margin-top: 3px;
    height: 335px;
  }
  .pic{
    margin-top: 3px;
    /* height: 220px; */
   
  }
  .footer-text-1{
    font-size: 0.8rem;

  }
}

@media (min-width: 350px) and (max-width:495px) {
  .photo {
    height: 300px;
    width: 100%;
  }

  iframe {
    height: 300px;
    width: 365px;
  }

  .spiner {
    margin-top: 130px;
    margin-bottom: 130px;
    font-size: small;
    font-size: small;
    height: 2rem;
    width: 2rem;
    width: 2rem;
  }

  .heading {
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 1.2rem;
  }

  .subheading {
    margin-top: 0px;
    font-size: 0.9rem;
  }

  .paragraph {
    display: none;
  }

  .homepart1{
    padding-bottom: 0px;
    padding-top: 0px;
  
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px;
  }
  
  .picturepart {
    height: 130px;
    display: flex;
    min-width: 70px;
    padding: 0px;
  }

  .picture {
    height: 100%;
    width: 100%;
  }
  .pic{
    height:150px;
   
  }

  .textpart {
    margin-top: 8px;
    
  }


  .textpart1 {
    border: none;
    background-color: rgb(245, 245, 245);
    border-radius: 2px;
    box-shadow: 3px 3px lightgray;
    padding: 0px;
  }
  .footer-text-1 {
    font-size: 11px;
  }
  .footer-text-2 {
    font-size: 11px;
  }
  .page{
    min-height: 600px;
  }
  .homepara{
   display: none;
  }
}

@media screen and (max-width: 350px) {
  .homepara{
    display: none;
   }
  .homepart1{
    padding-bottom: 0px;
    padding-top: 0px;
  
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px;
  }
  .pic{
    height:120px;
   
  }
  .paragraph {
    display: none;
  }

  .content {
    padding: 0.5rem 0;
  }

  .heading {
    font-size: 1rem;
  }

  .subheading {
    font-size: 1rem;
  }

  .submit {
    margin-bottom: 0.5rem;
  }

  .footer-text-1 {
    font-size: 10px;
  }
  .footer-text-2 {
    font-size: 11px;
  }
  .page{
    min-height: 500px;
  }
}

.urdu-text {

  font-family: 'Noto Nastaliq Urdu';
}

.nav-item:hover {
  text-decoration: underline;
}

/* Custom CSS for the form */
.form-label-urdu {
  direction: rtl;
  text-align: right;
}

.form-control-urdu {
  direction: rtl;
  text-align: right;
  font-family: 'Noto Nastaliq Urdu';
}